<%- include('partials/header') %>
<div class="wrap">
  <div class="card" role="region" aria-label="Todo list">
    <a
      href="/add-todo"
      class="btn"
      style="
        width: fit-content;
        text-decoration: none;
        border-radius: unset;
        z-index: 1;
      "
      >add new todo</a
    >
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width: 20%">Item</th>
          <th scope="col">Description</th>
          <th scope="col" style="width: 26%">Updated at</th>
          <th scope="col" style="width: 26%">Created at</th>
          <th scope="col" style="width: 26%">Action</th>
        </tr>
      </thead>
      <tbody>
        <% for(i=0; i < todos.length; i++) { %>

        <tr>
          <td class="item" data-label="Item"><%= todos[i].title %></td>
          <td class="desc" data-label="Description"><%= todos[i].desc %></td>
          <td class="desc" data-label="updated at">
            <%= moment(todos[i].createdAt).format("MMM Do YY, HH:MM:SS"); %>
          </td>
          <td class="desc" data-label="created at">
            <%= moment(todos[i].updatedAt).format("MMM Do YY, HH:MM:SS"); %>
          </td>
          <td class="actions" data-label="Action">
            <button
              class="btn btn-outline btn-edit"
              aria-label="Edit ‘Design landing page’"
            >
              Edit
            </button>
            <button
              class="btn btn-outline btn-delete"
              aria-label="Delete ‘Design landing page’"
            >
              Delete
            </button>
          </td>
        </tr>

        <% } %>
      </tbody>
    </table>
  </div>
</div>
<%- include('partials/footer') %>
